!!!
html
	head
		title= "BellyChat"
		script(src='/chat.js')
		script(src='/socket.io/socket.io.js')
		script(src='/jquery.js')
		include bootstrap.min.css
		include style.css
	body

		.container
			.row
				.span9
					h1
						| BellyChat
			.row
				#chatbox.span9
					#content.well
					#messageinput
						form#messageform.form-inline
							input#name.span2(type="text")
							input#field.span6(type="text")
							input#send.btn.pull-right(type="button", value="send")
		script(src='/enter.js')